name: Deploy Production

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy Local
        run: |
          # Navigate to project directory
          cd /home/admin/Desktop/Desktop-NestJS
          
          # Pull latest code
          git pull origin main
          
          # Install dependencies
          npm install
          
          # Build API
          echo "Building API..."
          npm run build:api
          pm2 restart nestjs-api
          
          # Build Frontend
          echo "Building Frontend..."
          npm install @unovis/ts @unovis/vue --workspace=apps/desktop
          npm run build:web --workspace=apps/desktop
          
          # Update Static Files
          echo "Updating Static Files..."
          # Note: /var/www/ytrc-app/ is writable by admin group
          rm -rf /var/www/ytrc-app/*
          cp -r apps/desktop/dist/* /var/www/ytrc-app/
          
          echo "Deployment Complete!"
